body {
  background-color: #3c3c3c;
}

header {
  height: 100px;
}

.content {
  padding-left: 35%;
  padding-right: 35%;
}

.insertSection {
  width: 80%;
}

.insertSection > .insertArea {
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
}

.insertSection > .insertArea,
.insertButton {
  display: block;
}

.textSection {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.buttonSection {
  display: flex;
}

.nextButton,
.previousButton,
.removeButton {
  width: 70px;
  margin-right: 10px;
}

.cardSection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* 
flip card example taken from
https://www.w3schools.com/howto/howto_css_flip_card.asp
*/

.flipCard {
  background-color: transparent;
  width: 600px;
  height: 300px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.flipCardFront {
  background-color: rgb(255, 233, 30);
  color: black;
}

.flipCardBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
