@media screen and (max-width: 750px) {
  .addDeckSection,
  .learnDeckSection {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .addDeckSection,
  .learnDeckSection {
    width: 600px;
  }
}

body {
  background-color: #0b1227eb;
}

header {
  height: 100px;
}

h1 {
  display: flex;
  color: gold;
}

button {
  background-color: #9e9e9e;
  border: 4px solid #0b1227;
  height: 35px;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.insertSection > .insertArea {
  width: 100%;
  height: 240px;
  margin-bottom: 40px;
  border: 4px solid #0b1227;
  background-color: #9e9e9e;
}

.insertSection > .insertButton {
  width: 130px;
}

.insertSection > .insertArea,
.insertButton {
  display: block;
}

.textSection {
  display: flex;
  color: #9e9e9e;
  margin-bottom: 20px;
}

.buttonSection,
.ratingSection {
  margin-bottom: 10px;
  display: flex;
}

.nextButton,
.previousButton,
.removeButton,
.goodButton,
.middleButton,
.badButton {
  width: 100px;
  margin-right: 10px;
}

.goodButton {
  background-color: green;
}
.middleButton {
  background-color: yellow;
}
.badButton {
  background-color: red;
}

.cardSection {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* 
flip card example taken from
https://www.w3schools.com/howto/howto_css_flip_card.asp
*/

.flipCard {
  background-color: transparent;
  width: 600px;
  height: 300px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.flipCardFront {
  background-color: #9e9e9e;
  color: black;
  box-shadow: 16px -16px#0b1227;
}

.flipCardBack {
  background-color: #0b1227;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 16px -16px #9e9e9e;
}
